{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
body{
    background-color: rgb(19, 19, 19);
}

.home_div{
    width: 83vw;
    height: 75px;
    padding: 5px;
    background-color: rgb(21, 22, 22);
    text-align: left;
    border: 2px solid white;
    box-shadow: rgba(255, 251, 251, 0.24) 0px 6px 12px;
    border-radius: 10px;
    margin-bottom: 1vw;
}
.home_div h1{
    font-family: Courier;
    font-size: 2.2vw;
    margin-top: 0.2vw;
    color: white;
    font-weight: bolder;
}

.home_div a{
    text-decoration: none;
    color: white;
}


.home_div p{
    color: aquamarine;
    font-size: 1.1vw;
    margin-top: -0.8vw;
    font-family: Courier;
}
</style>

    <form class="d-flex m-5" role="search">
        <input class="form-control me-2" type="search" value="{{ search }}" name="q" placeholder="Search" aria-label="Search">
        <button class="btn btn-success" type="submit">Search</button>
      </form>

    {% for i in tests %}

        <div class="home_div">
            <h1><a href="{% url 'test_detail' i.id %}">{{ i.name }}</a></h1>
            <p>Tests count is <b>{{ i.questions_set.count }}</b></p>
        </div>

    {% endfor %}

{% endblock content %}