body{
    background-color: black;
}
.navbar-expand-lg{
    background-color: rgb(19, 19, 19);
    border: 2px solid white !important;
    box-shadow: rgba(247, 247, 245, 0.24) 0px 6px 12px;

}

.navbar-brand{
    color: white !important;
}